@page
@model WebApp.Pages.TournamentsModel
@{
}


<div class="text-center">
    <h1 class="display-4">All Tournaments</h1>
</div>

@foreach(var item in @Model.Tournaments)
{
    <div class="row">
    
        <div class="col-12">
            @*<div class="bg-secondary mt-4 p-2">   *@
            <div class="card text-white bg-success mt-4 p-2">                
                <a href="/TournamentDetails?id=@item.Id" class="text-decoration-none text-light">
                    <h4>@item.TournamentName</h4>
                    <p>Start date: @item.StartDate.ToString("dd/MM/yyyy")</p>
                    <p>End date: @item.EndDate.ToString("dd/MM/yyyy")</p>
                    <p>Joined Players: @item.Players.Count / @item.MaxPlayers</p>
                    <p>Status: @item.Status</p>
                    <div class="bg-primary">
                        <h2 class="text-white">Location : @item.Location</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
}


    
